body{
	margin: 0;
	font-family: helvetica, arial;
	font-size: 16px;
	line-height: 23px;
}

header{
	background: linear-gradient(180deg, rgba(2,12,125,1) 0%, rgba(2,42,142,1) 1%, rgba(28,134,208,1) 93%);
	text-align: center; 
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Kreon', serif;
}

header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	padding-top: 20px;

}

h2{
	font-size: 30px;
	color: #226FC1;
	margin: 40px 0 10px;
}

a{
	color: #226FC1;
}
a:hover{
	opacity: .5;
	background-color: transparent;
}

footer{
	background-color: #226FC1;
	text-align: center;
	color: white;
	padding: 30px;
}

footer p{
	margin: 0px;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0px;
}